/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 ago 2021, 22:14:39
    Author     : jere_
*/

TextField, MenuButton, PasswordField
{
    -fx-background-color: none;
    -fx-border-color:  #df861d;
    -fx-border-width:  0px 0px 2px 0px;
}

Button
{
    -fx-background-color:  #df861d;
    -fx-background-radius: 10;
}

Button:hover
{
    -fx-scale-x: 1.09;
    -fx-scale-y: 1.09;
}

Button:pressed
{
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

AnchorPane
{
    -fx-background-color:  #fff2e1;
}

Separator .line
{
    -fx-background-color: #df861d;
    -fx-background-radius: 2;
}


